q-learning.code-workspace
__pychahce__/
```
venv/
.venv/
z/
__pycache__/calculator.cpython-310.pyc
test/__pycache__/test_othello.cpython-310-pytest-8.0.0.pyc
test/__pycache__/test_calculator.cpython-310-pytest-8.0.0.pyc
test/__pycache__/calculator.cpython-310.pyc
test/__pycache__/__init__.cpython-310.pyc
__pycache__/wsgi.cpython-310.pyc
__pycache__/testothello.cpython-310-pytest-7.4.4.pyc
__pycache__/test.cpython-310-pytest-7.4.4.pyc
__pycache__/test_othello.cpython-310-pytest-7.4.4.pyc
__pycache__/othello.cpython-310.pyc
__pycache__/nim.cpython-310.pyc
__pycache__/app.cpython-310.pyc
.DS_Store
othello.code-workspace
instance/database.db
test/__pycache__/test_othello.cpython-310-pytest-7.4.4.pyc
.vscode/settings.json
qtables/
plots/
instance/
test/__pycache__/test_perspective.cpython-310-pytest-8.0.0.pyc
__pycache__/othello.cpython-311.pyc
.vscode/launch.json
-othello.code-workspace
qtable.pickle

