<!DOCTYPE html>
<html>
<head>
      <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0QF4XKGKKH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0QF4XKGKKH');
</script>

    <title>Othello game using reinforcement learning</title>
    <meta name = "description" content = "Othello game using reinforcement learning">
    <meta name = "robots" content = "index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- css location -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'sharedstatic1.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'othello.css')}}">
</head>

<body >
    <H1>OTHELLO</P></H1>
    <!-- BOARD -->
    <header id="messages">
       
        <div id="message1box" >
            <div id="message1"> Choose your player&nbsp;&nbsp;  
        </div>        

        <div id="chooseplayer" class=" othello_choose ">
                <button id="1" class="disk blackdisk" onclick="game.startGame(this.id.toUpperCase())">
                </button>
                <button  id="-1" class="disk whitedisk" onclick="game.startGame(this.id.toUpperCase())" >
                </button>
            </div>
        </div>
        <button id="message2" onclick="game.sendrequest(true, null, null, null)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Black plays first</button>
    </header>
    <div id="container">
        
    <!-- loop to build the board from size  -->
    <!-- <div class = boarcontainer> -->
        <div id="board"> 
        {% for row in range(size) %}
            {% for col in range(size) %}
                <div class='cell'>
                    <button id="{{row}}{{col}}" class=""></button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>  
<!-- </div> -->
    

    <button id="othello_quit" class="mybutton" onclick="game.sendrequest(true, null,null,null)"> QUIT</button>



<div id="tbcont_othello" class = "outercontainer">
    <section class="innercontainer">
    
    <p>HOW TO PLAY</p>
    <p> Grey disks show valid moves. A red dot indicates the last move. Aim to capture  pieces between yours, in any direction, so they become your colour. The winner is the one with the most pieces at the end.</p>
    <br>
    <br>
    <P>How does it work?<br>This is v.1 -  a very basic design, where the machine played itself 20000 times and....(more coming soon)<br>
    nerdy explaination: (coming soon)</P>

<div></div>

    
</section>
    </div>
   


   
    <script src="{{ url_for('static', filename='othelloscript.js') }}"></script>
    <!-- <script src="static/othelloscript.js"></script> -->
</body>
</html>
<style>
 
   
</style>
